@using NewsFeed.Models.ViewModels
@model NewsViewModel

<div class="modal-body">
    <div class="section row">
        <div class="col-sm-12" id="add-news-container">
                
            <form method="post" asp-controller="News" asp-action="AddNews" id="form-add-news">
                <div asp-validation-summary="@ValidationSummary.ModelOnly"></div>

                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input class="form-control" asp-for="Title" />
                    <span asp-validation-for="Title"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Content"></label>
                    <textarea type="text" class="form-control" rows="5" asp-for="Content"></textarea>
                    <span asp-validation-for="Content"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CategoryID">Category</label>
                    <select class="form-control" asp-for="CategoryID" asp-items="ViewBag.Categories" id="categoryID">
                        <option value="">Choose Category</option>
                    </select>
                    <span asp-validation-for="CategoryID"></span>
                </div>

                <button id="btn-add-news" type="submit" class="btn btn-primary" onclick="AddNews()">Save</button>
                    
            </form>

            <div style="margin-top:20px;" id="form-result-message"></div>
        </div>
    </div>
</div>









